.NavbarItems {
    background:#4ECDC4;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    font-size: 1.2rem;
}


.navbar-logo{
    color: ivory;
    cursor: pointer;
    justify-content: left;
}

.fa-react{
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
}

.nav-links{
    color: white;
    text-decoration: none;
}

.nav-links:hover{
    background-color:lightpink;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars{
    color: white;
}

.nav-links-mobile{
    display: none;
}

.menu-icon{
    display: none;
}

